<i class="material-icons sorgula">work</i>
<h2>Hakkımızda</h2>
<p>İlk Posta Teşkilatı Tanzimat Fermanı ile yaşanan gelişmelerin sonucu olarak Osmanlı Devletinin tüm halkının ve yabancıların posta ihtiyaçlarına cevap vermek amacıyla Nezaret olarak 23 Ekim 1840 tarihinde kurulmuştur.</p>
<p>İlk Postahane ise <b>İstanbul'da Yeni Camii avlusunda</b> Postahane-i Amire adı ile açılmış İlk memurlar Süleyman Ağa, tahsildar Sofyalı Ağyazar Türkçe dışında yazılmış gönderilerin adreslerini tercüme etmek üzere mütercim olarak atanmışlardır.</p>
