<i class="material-icons sorgula">my_location</i>
<h2>Kargomu Sorgula</h2>
<p>Kargonunuzun nerede olduğunu sorgulamak için, kargo gönderiminde size verilen takip numarasını aşağıdaki boşluğa giriniz.</p>
<br/>
<input type="text" placeholder="Takip Numarası" name="takipNo" class="takipInput" />
<div class="clear"></div>
<div class="left">
    <div class="captcha">a S 2 d W</div>
</div>
<div class="right">
    <input type="text" placeholder="Güvenlik Kodu" name="captcha" class="captchaInput" />
</div>
<div class="clear "></div>
<div class="button ">Sorgula</div>
